<%= turbo_frame_tag dom_id(todo) do %>
  <div id="<%= dom_id todo %>">
    <p>
      <%= form_with model: todo, method: :patch do |form| %>
        <%= form.check_box :is_complete, { onchange: "this.form.requestSubmit()" } %>
      <% end %>
      <span class="text-9xl"><%= todo.title %></span>
    </p>
    <%= button_to "Destroy this todo", @todo, method: :delete %>
  </div>
<% end %>
